@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic|Cabin);
@import 'animations';

body {
  background: #000;
  color: #fff;
  font-family: Lato,"Helvetic Neue", Helvetica, Arial;
  font-size: 3rem;
  overflow: hidden;
}
.stars {
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  -webkit-animation: sky 500s infinite linear;
  background: #000 url('../img/starsky.png') center repeat;
}

.state {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.centered {
  text-align: center;
}