@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic|Cabin);
@-webkit-keyframes sky {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes sun {
  from {
    top: 40%;
    left: 50%;
    box-shadow: 0 0 200px 10px #C46562;
    background: #DAA2A5; }

  to {
    top: 24%;
    left: 51%;
    box-shadow: 0 0 100px 5px #DAA2A5;
    background: #E5DFDB; } }

@-webkit-keyframes moon {
  from {
    top: 30%; }

  to {
    top: 150%; } }

body {
  background: #000;
  color: #fff;
  font-family: Lato,"Helvetic Neue", Helvetica, Arial;
  font-size: 4rem;
  overflow: hidden; }

.stars {
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  -webkit-animation: sky 500s infinite linear;
  background: black url("../img/starsky.png") center repeat; }

.state {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px; }
