body {
  background: #000;
  color: #fff;
  font-family: "Helvetic Neue", Helvetica, Arial;
  font-size: 4rem; }

.state {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px; }

#st1 {
  text-align: center; }
  #st1 h1 {
    font-size: 20rem; }
