<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <title>2014: Uma Odisséia na Web</title>
    <meta name="description" content="Apresentação interativa sobre a história da web para o Encontro de Compartilhamento de Conhencimento da equipe de tecnologia da informação do Sport Club Crointhians Paulista">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link href="{{ static_url('css/main.css') }}" rel="stylesheet">
</head>
<body>
<div class="state" id="st1">
    <div class="stars"></div>
</div>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ static_url('js/main.js') }}"></script>
</body>
</html>