<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <title>2014: Uma Odisséia na Web</title>
    <meta name="description" content="Apresentação interativa sobre a história da web para o Encontro de Compartilhamento de Conhencimento da equipe de tecnologia da informação do Sport Club Crointhians Paulista">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link href="{{ static_url('css/main.css') }}" rel="stylesheet">
</head>
<body>

<div class="stars" id="stars"></div>

<!-- ENTRAR NA APRESENTAÇÃO -->
<div class="state centered" id="pre">
    <h1>GALPÃO DE EMBARQUE</h1>
    <div>Digite o seu nome para entrar</div>
    <input id="travelerName" type="text">
    <div><button onclick="embarque()">Entrar</button></div>
</div>

<!-- AGUARDANDO INÍCIO -->
<div class="state centered" id="in">
    <p>Aperte o cinto, vamos partir a qualquer momento</p>
</div>

<!-- CONTAGEM -->
<div class="state" id="countdown">
    <p id="log">Sistemas de navegação operantes!</p>
</div>

<!-- VIAGEM -->
<div class="state" id="travel">
    <div>
        <img src="{{ static_url('img/seat-belt-sign.jpg') }}">
        <p>Durante o vôo permaneça sentado e com o cinto afivelado</p>
    </div>
</div>

<!-- JANELA -->
<div class="state" id="window">
    <iframe id="content"></iframe>
    <div class="screen-off"></div>
</div>

<!-- PERGUNTAS -->
<div class="state centered" id="questions">
    <h1>PERGUNTAS?</h1>
    <div><button onclick="perguntar()">Perguntar</button></div>
</div>

<!-- FIM -->
<div class="state" id="end">

</div>

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ static_url('js/main.js') }}"></script>
</body>
</html>