<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <title>2014: Uma Odisséia na Web</title>
    <meta name="description" content="Apresentação interativa sobre a história da web para o Encontro de Compartilhamento de Conhencimento da equipe de tecnologia da informação do Sport Club Crointhians Paulista">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link href="{{ static_url('css/show.css') }}" rel="stylesheet">
</head>
<body>
<!-- AUDIOS -->
<audio src="{{ static_url('audio/opening.mp3') }}" id="opening" preload="auto"></audio>
<!-- CÉU ESTRELADO -->
<div class="stars" id="stars"></div>
<!-- ESTADO 1 -->
<div class="state" id="st1">
    <h1>{{ ip }}:{{ port }}</h1>
    <p id="startMessage">Aguardando embarque da tripulação</p>
    <div>
        <div class="tripulante" id="trp1">1</div>
        <div class="tripulante" id="trp2">2</div>
        <div class="tripulante" id="trp3">3</div>
        <div class="tripulante" id="trp4">4</div>
        <div class="tripulante" id="trp5">5</div>
        <div class="tripulante" id="trp6">6</div>
        <div class="tripulante" id="trp7">7</div>
        <div class="tripulante" id="trp8">8</div>
    </div>
</div>
<!-- ESTADO 2 -->
<div class="state" id="st2">
    <h1 id="contagem"></h1>
</div>
<!-- ESTADO 3 -->
<div class="state" id="st3">
    <div id="opening-scene">
        <div class="stars"></div>
        <div class="sun"></div>
        <div class="earth"></div>
        <div class="moon"></div>
        <div class="frase1">ENCONTRO DE COMPARTILHAMENTO DO CONHECIMENTO</div>
        <div class="frase2">LUIZ FERNANDO DA SILVA</div>
        <div class="titulo">2014: UMA ODISSÉIA NA WEB</div>
    </div>
</div>

<!-- ESTADO 4 -->
<div class="state" id="st4">
    <h1>A AURORA DA WEB</h1>
</div>
<!-- ESTADO 5 -->
<div class="state" id="st5">
    <h3>O QUE É WEB?</h3>
    <p id="p1">Meio de Comunicação</p>
    <p id="p2">Rede Mundial de Computadores pela Internet</p>
    <p id="p3">A Internet é MAIS VELHA que a Web</p>
</div>
<!-- ESTADO 6 -->
<div class="state" id="st6">
    <div id="hypertexto">
        <h4>Hypertexto</h4>
        <p>Um texto conectado a uma ou mais informações.</p>
        <p>Facilita a navegação de um bloco de informação para outro.</p>
        <p>&nbsp;</p>
        <div class="centered">
            <img src="{{ static_url('img/memex-cyclops.jpg') }}" onmouseover="this.src='{{ static_url('img/gglass.jpg') }}'" onmouseout="this.src='{{ static_url('img/memex-cyclops.jpg') }}'">
        </div>
    </div>
    <div id="memex">
        <div class="centered">
            <img src="{{ static_url('img/memex.jpg') }}">
        </div>
        <h4>Memex</h4>
        <p>Dispositivo mecânico imaginado por <strong>Vannevar Bush</strong> em 1945.</p>
        <p>Armazena e organiza associações entre informações.</p>
        <p>Imita a mente humana.</p>
    </div>
</div>
<!-- ESTADO 7 -->
<div class="state" id="st7">
    <img src="{{ static_url('img/timbernerslee.jpg') }}">
    <h2>Tim Berners-Lee <small>O pai da web</small></h2>
    <p id="p1">Em 1980 criou o ENQUIRE para o CERN.</p>
    <p id="p2">Propôs em 1989 um grande banco de dados de hypertextos.</p>
    <p id="p3">Com a ajuda de Robert Cailliau criou o HTTP, HTML, o primeiro servidor, o primeiro navegador e as primeiras páginas explicando o projeto.</p>
    <p id="p4">Em <strong>6 de agosto de 1991</strong> publicou um resumo do projeto, surgiu a web pública.</p>
    <p id="p5">Os primeiros usuários aparecerem apenas em 23 de agosto, o dia internacional do internauta.</p>
</div>
<!-- ESTADO 8 -->
<div class="state centered" id="st8">
    <img src="{{ static_url('img/cernettes.jpg') }}">
    <h3>Les Horribles Cernettes</h3>
    <p>A primeira foto da web.</p>
    <p><small>Colocada pelo próprio Tim Berners-Lee em 1992, após o festival de música do CERN.</small></p>
</div>

<!-- ESTADO 9 -->
<div class="state" id="st9">
    <h1>WORLD WIDE WEB</h1>
</div>

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ static_url('js/show.js') }}"></script>
</body>
</html>