<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <title>2014: Uma Odisséia na Web</title>
    <meta name="description" content="Apresentação interativa sobre a história da web para o Encontro de Compartilhamento de Conhencimento da equipe de tecnologia da informação do Sport Club Crointhians Paulista">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link href="{{ static_url('css/show.css') }}" rel="stylesheet">
</head>
<body>
<!-- AUDIOS -->
<audio src="{{ static_url('audio/opening.mp3') }}" id="opening" preload="auto"></audio>
<!-- CÉU ESTRELADO -->
<div class="stars" id="stars"></div>
<!-- ESTADO 1 -->
<div class="state" id="st1">
    <h1>{{ ip }}:{{ port }}</h1>
    <p id="startMessage">Aguardando embarque da tripulação</p>
    <div>
        <div class="tripulante" id="trp1">1</div>
        <div class="tripulante" id="trp2">2</div>
        <div class="tripulante" id="trp3">3</div>
        <div class="tripulante" id="trp4">4</div>
        <div class="tripulante" id="trp5">5</div>
        <div class="tripulante" id="trp6">6</div>
        <div class="tripulante" id="trp7">7</div>
        <div class="tripulante" id="trp8">8</div>
    </div>
</div>
<!-- ESTADO 2 -->
<div class="state" id="st2">
    <h1 id="contagem"></h1>
</div>
<!-- ESTADO 3 -->
<div class="state" id="st3">
    <div id="opening-scene">
        <div class="stars"></div>
        <div class="sun"></div>
        <div class="earth"></div>
        <div class="moon"></div>
        <div class="frase1">ENCONTRO DE COMPARTILHAMENTO DO CONHECIMENTO</div>
        <div class="frase2">LUIZ FERNANDO DA SILVA</div>
        <div class="titulo">2014: UMA ODISSÉIA NA WEB</div>
    </div>
</div>

<!-- ESTADO 4 -->
<div class="state" id="st4">
    <h1>A AURORA DA WEB</h1>
</div>
<!-- ESTADO 5 -->
<div class="state" id="st5">
    <h3>O QUE É WEB?</h3>
    <p id="p1">Meio de Comunicação</p>
    <p id="p2">Rede Mundial de Computadores pela Internet</p>
    <p id="p3">A Internet é MAIS VELHA que a Web</p>
</div>
<!-- ESTADO 6 -->
<div class="state" id="st6">
    <div id="hypertexto">
        <h4>Hypertexto</h4>
        <p>Um texto conectado a uma ou mais informações.</p>
        <p>Facilita a navegação de um bloco de informação para outro.</p>
        <p>&nbsp;</p>
        <div class="centered">
            <img src="{{ static_url('img/memex-cyclops.jpg') }}" onmouseover="this.src='{{ static_url('img/gglass.jpg') }}'" onmouseout="this.src='{{ static_url('img/memex-cyclops.jpg') }}'">
        </div>
    </div>
    <div id="memex">
        <div class="centered">
            <img src="{{ static_url('img/memex.jpg') }}">
        </div>
        <h4>Memex</h4>
        <p>Dispositivo mecânico imaginado por <strong>Vannevar Bush</strong> em 1945.</p>
        <p>Armazena e organiza associações entre informações.</p>
        <p>Imita a mente humana.</p>
    </div>
</div>
<!-- ESTADO 7 -->
<div class="state" id="st7">
    <img src="{{ static_url('img/timbernerslee.jpg') }}">
    <h2>Tim Berners-Lee <small>O pai da web</small></h2>
    <p id="p1">Em 1980 criou o ENQUIRE para o CERN.</p>
    <p id="p2">Propôs em 1989 um grande banco de dados de hypertextos.</p>
    <p id="p3">Com a ajuda de Robert Cailliau criou o HTTP, HTML, o primeiro servidor, o primeiro navegador e as
        primeiras páginas explicando o projeto.</p>
    <p id="p4">Em <strong>6 de agosto de 1991</strong> publicou um resumo do projeto, surgiu a web pública.</p>
    <p id="p5">Os primeiros usuários aparecerem apenas em 23 de agosto, o dia internacional do internauta.</p>
</div>
<!-- ESTADO 8 -->
<div class="state centered" id="st8">
    <img src="{{ static_url('img/cernettes.jpg') }}">
    <h3>Les Horribles Cernettes</h3>
    <p>A primeira foto da web.</p>
    <p><small>Colocada pelo próprio Tim Berners-Lee em 1992, após o festival de música do CERN.</small></p>
</div>

<!-- ESTADO 9 -->
<div class="state" id="st9">
    <h1>A EVOLUÇÃO</h1>
</div>

<!-- ESTADO 10 -->
<div class="state" id="st10">
    <h1>Web Livre e W3C</h1>
    <p id="p1">A web tinha um concorrente chamado Gopher que passaria a cobrar royalties por uso, sabendo disso, em
        abril de 1993 o CERN abriu a Web como um projeto livre de royalties.</p>
    <p id="p2">Em setembro de 1994 Tim Berners-Lee fundou o Consórcio da World Wide Web (W3C) com o apoio da DARPA e
        Comissão Europeia.</p>
    <p id="p3">A W3C é um consórcio de empresas, governos e organizações independentes que padroniza a criação e
        interpretação do conteúdo da Web, com o objetivo de fazer a web atingir o seu potencial máximo.</p>
</div>

<!-- ESTADO 11 -->
<div class="state" id="st11">
    <h3>Os primeiros navegadores</h3>
    <p id="p1">Até 1992 os navegadores exibiam apenas texto, surgiram então navegadores gráficos como Erwise, ViolaWWW e WorldWideWeb.</p>
    <p id="p2">O grande impulso chegou com o Mosaic em 1993, que mais tarde se tornou o Netscape.</p>
    <p id="p3">Ele foi o responsável pela popularização da web.</p>
    <p id="p4">Hoje temos várias opções de navegadores.</p>
</div>

<!-- ESTADO 12 -->
<div class="state" id="st12">
    <h1>A Bolha da Internet</h1>
    <p id="p1">Entre 1995 e 2000 a popularização da web impulsionou a criação de novas empresas, à uma velocidade
        assustadora.</p>
    <p id="p2">A promessa de lucros rápidos e fácil baixou a guarda dos investidores, o mercado de ações entrou em alta.</p>
    <p id="p3">Em 10 de março de 2000 a bolha estoura, os valores das ações eram tão altos que todos decidiram vender
        seus lotes, em poucos dias as ações perderam quase todo o seu valor.</p>
</div>

<!-- ESTADO 13 -->
<div class="state" id="st13">
    <h1>A<br>WEB<br>HOJE</h1>
</div>

<!-- ESTADO 14 -->
<div class="state" id="st14">
    <h1>WEB 2.0</h1>
    <p id="p1">Termo citado inicialmente por Tim O'Reilly em 2004.</p>
    <p id="p2">É um conceito que reune as prinicipais características das empresas que sobreviveram a explosão da bolha da
        internet.</p>
    <p id="p3">Trouxe conceitos novos sobre a forma de usar a Web que moldaram o que temos hoje.</p>
    <div class="quote">
        <div>
            Web 2.0 é a mudança para uma internet como plataforma, e um entendimento das regras para obter sucesso nesta
            nova plataforma. Entre outras, a regra mais importante é desenvolver aplicativos que aproveitem os efeitos
            de rede para se tornarem melhores quanto mais são usados pelas pessoas, aproveitando a inteligência coletiva.
            <small>— Tim O'Reilly</small>
        </div>
    </div>
</div>

<!-- ESTADO 15 -->
<div class="state" id="st15">
    <h1>SaaS - Software as a Service</h1>
    <p id="p1">Junto com o conceito da Web 2.0 chegou o modelo de distribuição de software como um serviço.</p>
    <p id="p2">Nesse modelo o software não é vendido como um bem mas sim em uma assinatura paga pelo uso.</p>
    <p id="p3">O software passa a se adaptar às necessidades dos clientes sob demanda.</p>
    <p id="p4">Hoje usamos diariamente diversos softwares como serviço e existe uma tendência de usarmos ainda mais.</p>
</div>

<!-- ESTADO 16 -->
<div class="state" id="st16">
    <h1>Cloud Computing</h1>
    <p id="p1">O software como um serviço é parte de um conceito maior, a computação em nuvem.</p>
    <p id="p2">Os recursos e funcionalidades que antes exigiam alto investimento em infraestrutura e capacitação agora podem
        ser contratados em assinaturas sob demanda.</p>
    <p id="p3">Além de software, a Infraestrutura (IaaS) e a plataforma (PaaS) são distribuidos como serviço.</p>
    <p id="p4">Muitos pequenos negócios, antes inviáveis pelo custo, agora são possíveis graças ao poder da nuvem.</p>
    <p id="p5">Existe uma briga pela liderança na nuvem entre Amazon, Google e Microsoft. A competição promete preços
        cada vez menores e recursos melhores.</p>
</div>

<!-- ESTADO 17 -->
<div class="state" id="st17">
    <h1>Web Social e Interativa</h1>
    <p id="p1">Um dos conceitos que sobreviveu a explosão da bolha foi a interação com o usuário</p>
    <p id="p2">O usuário deixa de apenas acessar o conteúdo e passa a criar, compartilhando com outras pessoas através da web.</p>
    <p id="p3">O conceito foi tão bem sucedido que hoje, praticamente todos os sites permitem que o usuário crie algum tipo de conteúdo.</p>
    <p id="p4">As aplicações mais populares na web hoje são aquelas que utilizam apenas conteúdo criado pelo usuário.</p>
    <div class="networks"></div>
</div>

<!-- ESTADO 18 -->
<div class="state" id="st18">
    <h1>O FUTURO E ALÉM</h1>
</div>

<!-- ESTADO 19 -->
<div class="state" id="st19">
    <h1>Web Semântica</h1>
</div>

<!-- ESTADO 20 -->
<div class="state" id="st20">
    <h1>Internet das Coisas</h1>
</div>

<!-- ESTADO 21 -->
<div class="state" id="st21">
    <h1>A Web Inteligente</h1>
</div>

<!-- ESTADO 22 -->
<div class="state" id="st22">
    <h1>PERGUNTAS?</h1>
</div>

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ static_url('js/show.js') }}"></script>
</body>
</html>